<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>mKulesza-portfolio</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,700,500,600' rel='stylesheet' type='text/css'>
    <link href="/styles/site.css" rel="stylesheet">

    {{!-- This file provides the default styling for the KeystoneJS Content Editor 
    - only renders when user is logged in and admin--}}
    {{{isAdminEditorCSS user}}}

    {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
<![endif]-->

  </head>
  <body>
    {{> header}}
    {{> videos}}
    {{> videoPopup}}
    {{> listen}}
    {{> soundcloud}}
    {{!--
    //- jQuery 1.11.1 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.1 (also bundled) for better performance.
    --}}
    <script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/lib/jquery.vide.js"></script>
    <script src="/js/main.js"></script>
    {{!--
    //- Customise which Bootstrap javascript files are served by including
    //- them specifically here, instead of bootstrap-3.2.0.min.js
    --}}
    <script src="/js/lib/bootstrap/bootstrap-3.2.0.min.js"></script>
    {{{isAdminEditorJS user}}}
  </body>
</html>
