<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maciej Kulesza music producer</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,700,500,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/styles/site.css" rel="stylesheet">
  </head>
  <body>
    {{> header}}
    {{> videos}}
    {{> videoPopup}}
    {{> listen}}
    {{> soundcloud}}
    {{> contact}}
    {{!--
      //- jQuery 1.11.1 is included by default, and required by both Bootstrap
      //- and the KeystoneJS Content Editor. If you are not targeting IE8,
      //- you can upgrade to 2.1.1 (also bundled) for better performance.
    --}}
    <script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/lib/jquery.vide.js"></script>
    <script src="/js/main.js"></script>
    {{!-- 
      //- For old browsers
      //- https://browser-update.org/#install
    --}}
    <script> 
      var $buoop = {c:2}; 
      function $buo_f(){ 
       var e = document.createElement("script"); 
       e.src = "//browser-update.org/update.js"; 
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
  </body>
</html>
