<div class="portfolio-contact">
  <h1>contact</h1>
  <p><a href="mailto:kuleszamusic@gmail.com.com" target="_top">kuleszamusic@gmail.com</a></p>
  <ul class="portfolio-contact-social">
    <li>Facebook</li>
    <li>Instagram</li>
    <li>VK</li>
  </ul>
</div>