<div class="portfolio-contact">
  <h1>contact</h1>
  <p><a href="mailto:kuleszamusic@gmail.com.com" target="_top">kuleszamusic@gmail.com</a></p>
  <div class="portfolio-social-wrapper">
    <ul class="portfolio-contact-social">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </div>
  <div class="portfolio-go-top">
    <div class="portfolio-go-top-wrapper">
      <a href="#"><i class="fa fa-angle-up"></i></a>
    </div>
  </div>
</div>