<div class="portfolio-navigation">
  <div class="container">
    <div class="logo">{{title}}</div>
    <nav role="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </nav>
  </div>
</div>