<div class="portfolio-navigation">
  <div class="container">
    <div class="logo">{{title}}</div>
    <nav role="navigation">
      <ul>
        <li><a href="#" data-section="home">Home</a></li>
        <li><a href="#" data-section="watch">Watch</a></li>
        <li><a href="#" data-section="listen">Listen</a></li>
        <li><a href="#" data-section="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>