.portfolio-contact {
  width: 100%;
  position: relative;
  padding: 100px 0;
  
  h1 {
    width: 100%;
    text-align: center;
    color: rgba(0,160,227,1);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

    @include breakpoint(tablet) {
      font-size: 26px;
    }

    @include breakpoint(desktop) {
      font-size: 36px;
    }
  }

  p {
    width: auto;
    text-align: center;
    padding: 20px;
    
    a {
      font-size: 24px;
      font-weight: lighter;
    }
  }
}