body {
  background-color: rgba(235,236,236,1);
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;

  &:hover {
    color: rgba(0,160,227,1);
  }
}

h1 {
  width: 100%;
  text-align: center;
  color: rgba(0,160,227,1);
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.portfolio-videos,
.portfolio-listen,
.portfolio-soundcloud,
.portfolio-contact {
  position: relative;
  z-index: 100;
  background: #ebecec;
}
