body {
  background-color: rgba(235,236,236,1);
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(0,0,0,1);
  text-decoration: none;

  &:hover {
    color: rgba(0,160,227,1);
  }
}