.portfolio-navigation {
  height: 85px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0);
  z-index: 100000;
  display: none;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  
  @include breakpoint(desktop) {
    display: block;
  }
  
  &.active {
    background: #fff;
    color: #000000;
    border-bottom: 1px solid #cccccc;
    
    a {
      color: #000000;
    }
  }
  
  a {
    color: #ebecec;
  }
  
  .container {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    float: left;
    width: 350px;
    margin: 0;
    height: 100%;
    line-height: 3;
    opacity: 0;
    opacity: 0;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    
    &.show {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
    }
  }

  ul {
    list-style-type: none;
    float: right;
    margin: 17px 0 0 0;
    
    li {
      display: inline-block;
      font-size: 15px;
      padding: 12px;
      font-weight: bold;
    }
    
    li:last-child {
      padding-right: 0;
    }
  }
}